SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: account_emailaddress; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.account_emailaddress (
    id integer NOT NULL,
    email character varying(254) NOT NULL,
    verified boolean NOT NULL,
    "primary" boolean NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.account_emailaddress OWNER TO admin;

--
-- Name: account_emailaddress_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.account_emailaddress ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.account_emailaddress_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: account_emailconfirmation; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.account_emailconfirmation (
    id integer NOT NULL,
    created timestamp with time zone NOT NULL,
    sent timestamp with time zone,
    key character varying(64) NOT NULL,
    email_address_id integer NOT NULL
);


ALTER TABLE public.account_emailconfirmation OWNER TO admin;

--
-- Name: account_emailconfirmation_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.account_emailconfirmation ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.account_emailconfirmation_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO admin;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO admin;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO admin;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO admin;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO admin;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO admin;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO admin;

--
-- Name: django_site; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.django_site (
    id integer NOT NULL,
    domain character varying(100) NOT NULL,
    name character varying(50) NOT NULL
);


ALTER TABLE public.django_site OWNER TO admin;

--
-- Name: django_site_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.django_site ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_site_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: knox_authtoken; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.knox_authtoken (
    digest character varying(128) NOT NULL,
    created timestamp with time zone NOT NULL,
    user_id integer NOT NULL,
    expiry timestamp with time zone,
    token_key character varying(25) NOT NULL
);


ALTER TABLE public.knox_authtoken OWNER TO admin;

--
-- Name: morisite_album; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.morisite_album (
    id_album integer NOT NULL,
    title character varying(255) NOT NULL,
    description text NOT NULL,
    is_main boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.morisite_album OWNER TO admin;

--
-- Name: morisite_album_id_album_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.morisite_album ALTER COLUMN id_album ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.morisite_album_id_album_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: morisite_avatar; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.morisite_avatar (
    id_avatar integer NOT NULL,
    avatar character varying(100),
    updated_at timestamp with time zone NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.morisite_avatar OWNER TO admin;

--
-- Name: morisite_avatar_id_avatar_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.morisite_avatar ALTER COLUMN id_avatar ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.morisite_avatar_id_avatar_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: morisite_comment; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.morisite_comment (
    id_comment integer NOT NULL,
    like_count integer NOT NULL,
    content text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    liked_by jsonb NOT NULL,
    parent_comment_id integer,
    user_id integer NOT NULL,
    photo_id integer NOT NULL,
    CONSTRAINT morisite_comment_like_count_check CHECK ((like_count >= 0))
);


ALTER TABLE public.morisite_comment OWNER TO admin;

--
-- Name: morisite_comment_id_comment_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.morisite_comment ALTER COLUMN id_comment ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.morisite_comment_id_comment_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: morisite_favorite; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.morisite_favorite (
    id_favorite integer NOT NULL,
    note text NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    created_at timestamp with time zone NOT NULL,
    photo_id integer NOT NULL
);


ALTER TABLE public.morisite_favorite OWNER TO admin;

--
-- Name: morisite_favorite_id_favorite_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.morisite_favorite ALTER COLUMN id_favorite ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.morisite_favorite_id_favorite_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: morisite_like; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.morisite_like (
    id_like integer NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    created_at timestamp with time zone NOT NULL,
    user_id integer NOT NULL,
    photo_id integer NOT NULL
);


ALTER TABLE public.morisite_like OWNER TO admin;

--
-- Name: morisite_like_id_like_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.morisite_like ALTER COLUMN id_like ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.morisite_like_id_like_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: morisite_notification; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.morisite_notification (
    id_notification integer NOT NULL,
    notif_type character varying(20) NOT NULL,
    message text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    comment_id integer,
    recipient_id integer NOT NULL,
    sender_id integer NOT NULL,
    photo_id integer
);


ALTER TABLE public.morisite_notification OWNER TO admin;

--
-- Name: morisite_notification_id_notification_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.morisite_notification ALTER COLUMN id_notification ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.morisite_notification_id_notification_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: morisite_photo; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.morisite_photo (
    id_photo integer NOT NULL,
    name character varying(255) NOT NULL,
    location character varying(255) NOT NULL,
    caption text NOT NULL,
    tags text NOT NULL,
    colors text NOT NULL,
    objects_photo text NOT NULL,
    description text NOT NULL,
    photo character varying(100),
    is_favorited boolean NOT NULL,
    is_deleted boolean NOT NULL,
    is_public boolean NOT NULL,
    like_count integer NOT NULL,
    faiss_id integer,
    faiss_id_public integer,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    album_id integer NOT NULL,
    CONSTRAINT morisite_photo_like_count_check CHECK ((like_count >= 0))
);


ALTER TABLE public.morisite_photo OWNER TO admin;

--
-- Name: morisite_photo_id_photo_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.morisite_photo ALTER COLUMN id_photo ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.morisite_photo_id_photo_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: morisite_search_history; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.morisite_search_history (
    id_search_history integer NOT NULL,
    search_query character varying(255) NOT NULL,
    search_type character varying(255) NOT NULL,
    search_date timestamp with time zone NOT NULL,
    liked_images jsonb NOT NULL,
    created_at timestamp with time zone NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.morisite_search_history OWNER TO admin;

--
-- Name: morisite_search_history_id_search_history_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.morisite_search_history ALTER COLUMN id_search_history ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.morisite_search_history_id_search_history_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: morisite_trash; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.morisite_trash (
    id_trash integer NOT NULL,
    deleted_at timestamp with time zone NOT NULL,
    created_at timestamp with time zone NOT NULL,
    photo_id integer,
    user_id integer NOT NULL
);


ALTER TABLE public.morisite_trash OWNER TO admin;

--
-- Name: morisite_trash_id_trash_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.morisite_trash ALTER COLUMN id_trash ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.morisite_trash_id_trash_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: morisite_user; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.morisite_user (
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    id_user integer NOT NULL,
    name character varying(255) NOT NULL,
    email character varying(254) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    is_email boolean NOT NULL,
    is_active boolean NOT NULL,
    is_staff boolean NOT NULL
);


ALTER TABLE public.morisite_user OWNER TO admin;

--
-- Name: morisite_user_groups; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.morisite_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.morisite_user_groups OWNER TO admin;

--
-- Name: morisite_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.morisite_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.morisite_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: morisite_user_id_user_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.morisite_user ALTER COLUMN id_user ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.morisite_user_id_user_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: morisite_user_user_permissions; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.morisite_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.morisite_user_user_permissions OWNER TO admin;

--
-- Name: morisite_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.morisite_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.morisite_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: socialaccount_socialaccount; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.socialaccount_socialaccount (
    id integer NOT NULL,
    provider character varying(200) NOT NULL,
    uid character varying(191) NOT NULL,
    last_login timestamp with time zone NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    extra_data jsonb NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.socialaccount_socialaccount OWNER TO admin;

--
-- Name: socialaccount_socialaccount_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.socialaccount_socialaccount ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.socialaccount_socialaccount_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: socialaccount_socialapp; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.socialaccount_socialapp (
    id integer NOT NULL,
    provider character varying(30) NOT NULL,
    name character varying(40) NOT NULL,
    client_id character varying(191) NOT NULL,
    secret character varying(191) NOT NULL,
    key character varying(191) NOT NULL,
    provider_id character varying(200) NOT NULL,
    settings jsonb NOT NULL
);


ALTER TABLE public.socialaccount_socialapp OWNER TO admin;

--
-- Name: socialaccount_socialapp_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.socialaccount_socialapp ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.socialaccount_socialapp_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: socialaccount_socialapp_sites; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.socialaccount_socialapp_sites (
    id bigint NOT NULL,
    socialapp_id integer NOT NULL,
    site_id integer NOT NULL
);


ALTER TABLE public.socialaccount_socialapp_sites OWNER TO admin;

--
-- Name: socialaccount_socialapp_sites_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.socialaccount_socialapp_sites ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.socialaccount_socialapp_sites_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: socialaccount_socialtoken; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.socialaccount_socialtoken (
    id integer NOT NULL,
    token text NOT NULL,
    token_secret text NOT NULL,
    expires_at timestamp with time zone,
    account_id integer NOT NULL,
    app_id integer
);


ALTER TABLE public.socialaccount_socialtoken OWNER TO admin;

--
-- Name: socialaccount_socialtoken_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public.socialaccount_socialtoken ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.socialaccount_socialtoken_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: account_emailaddress; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.account_emailaddress (id, email, verified, "primary", user_id) FROM stdin;
1	taochoi453@gmail.com	t	t	4
\.


--
-- Data for Name: account_emailconfirmation; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.account_emailconfirmation (id, created, sent, key, email_address_id) FROM stdin;
\.


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	account	emailaddress
2	account	emailconfirmation
3	socialaccount	socialaccount
4	socialaccount	socialapp
5	socialaccount	socialtoken
6	sites	site
7	admin	logentry
8	auth	permission
9	auth	group
10	contenttypes	contenttype
11	sessions	session
12	morisite	user
13	morisite	album
14	morisite	avatar
15	morisite	comment
16	morisite	photo
17	morisite	notification
18	morisite	like
19	morisite	favorite
20	morisite	search_history
21	morisite	trash
22	knox	authtoken
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
j500kkcbxamnygceiuqix8gkueju0qre	.eJxVjEEOwiAQRe_C2hAZoIBL956BDDMgVUOT0q6MdzckXej2v_f-W0Tctxr3ntc4s7gIK06_W0J65jYAP7DdF0lL29Y5yaHIg3Z5Wzi_rof7d1Cx11E7Jk_GFUAw2ftAviQ_AbGelIPAioo5AxqrNYEmbVNSxdqQjUILSXy-7uw31Q:1u7sPo:9aRLKAnX2Alhj56aptrG8c2blfVWoifdyv8zFpvuR5U	2025-05-08 08:58:40.527298+00
\.


--
-- Data for Name: django_site; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.django_site (id, domain, name) FROM stdin;
1	example.com	example.com
\.


--
-- Data for Name: knox_authtoken; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: morisite_album; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.morisite_album (id_album, title, description, is_main, created_at, updated_at, user_id) FROM stdin;
1	Tß║Ñt cß║ú		t	2025-04-24 08:31:20.902914+00	2025-04-24 08:31:20.902928+00	1
2	Tß║Ñt cß║ú		t	2025-04-24 08:34:15.075963+00	2025-04-24 08:34:15.075996+00	2
3	Tß║Ñt cß║ú		t	2025-04-24 08:40:39.744627+00	2025-04-24 08:40:39.744642+00	3
4	Tß║Ñt cß║ú		t	2025-04-24 08:51:26.130888+00	2025-04-24 08:51:26.130902+00	4
5	Tß║Ñt cß║ú		t	2025-04-24 01:57:38.729806+00	2025-04-24 01:57:38.729806+00	5
\.


--
-- Data for Name: morisite_avatar; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.morisite_avatar (id_avatar, avatar, updated_at, user_id) FROM stdin;
1	avatar/default_image/default.jpg	2025-04-24 08:31:20.910673+00	1
2	avatar/default_image/default.jpg	2025-04-24 08:34:15.079038+00	2
3	avatar/99-hinh-anh-xe-do-drag-dep-nhat-tai-anh-xe-do-drag-ngau-1-1024x1024.jpg	2025-04-24 08:47:13.172992+00	3
4	avatar/default_image/default.jpg	2025-04-24 08:51:26.133459+00	4
5	avatar/default_image/default.jpg	2025-04-24 01:57:38.745527+00	5
\.


--
-- Data for Name: morisite_comment; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.morisite_comment (id_comment, like_count, content, created_at, updated_at, liked_by, parent_comment_id, user_id, photo_id) FROM stdin;
1	0	╞░ß╗¢c c├│ mß╗Öt con ─æß╗ü nu├┤i	2025-04-24 08:39:21.850296+00	2025-04-24 08:39:21.850334+00	[]	\N	2	27
2	0	tr├íi n├áy nh├¼n vß║¡y chß╗⌐ chua lß║»m	2025-04-24 08:39:44.763633+00	2025-04-24 08:39:44.763646+00	[]	\N	2	2
\.


--
-- Data for Name: morisite_favorite; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.morisite_favorite (id_favorite, note, updated_at, created_at, photo_id) FROM stdin;
\.


--
-- Data for Name: morisite_like; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.morisite_like (id_like, updated_at, created_at, user_id, photo_id) FROM stdin;
\.


--
-- Data for Name: morisite_notification; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.morisite_notification (id_notification, notif_type, message, created_at, comment_id, recipient_id, sender_id, photo_id) FROM stdin;
1	comment_photo	Diennnn ─æ├ú b├¼nh luß║¡n ß║únh cß╗ºa bß║ín.	2025-04-24 08:39:21.871587+00	1	2	2	27
2	comment_photo	Diennnn ─æ├ú b├¼nh luß║¡n ß║únh cß╗ºa bß║ín.	2025-04-24 08:39:44.776984+00	2	1	2	2
\.


--
-- Data for Name: morisite_photo; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: morisite_search_history; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: morisite_trash; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.morisite_trash (id_trash, deleted_at, created_at, photo_id, user_id) FROM stdin;
\.


--
-- Data for Name: morisite_user; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: morisite_user_groups; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.morisite_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: morisite_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.morisite_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: socialaccount_socialaccount; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.socialaccount_socialaccount (id, provider, uid, last_login, date_joined, extra_data, user_id) FROM stdin;
\.


--
-- Data for Name: socialaccount_socialapp; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.socialaccount_socialapp (id, provider, name, client_id, secret, key, provider_id, settings) FROM stdin;
\.


--
-- Data for Name: socialaccount_socialapp_sites; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.socialaccount_socialapp_sites (id, socialapp_id, site_id) FROM stdin;
\.


--
-- Data for Name: socialaccount_socialtoken; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.socialaccount_socialtoken (id, token, token_secret, expires_at, account_id, app_id) FROM stdin;
\.


--
-- Name: account_emailaddress_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.account_emailaddress_id_seq', 1, true);


--
-- Name: account_emailconfirmation_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.account_emailconfirmation_id_seq', 1, false);


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 88, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 22, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 45, true);


--
-- Name: django_site_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.django_site_id_seq', 1, true);


--
-- Name: morisite_album_id_album_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.morisite_album_id_album_seq', 5, true);


--
-- Name: morisite_avatar_id_avatar_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.morisite_avatar_id_avatar_seq', 5, true);


--
-- Name: morisite_comment_id_comment_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.morisite_comment_id_comment_seq', 2, true);


--
-- Name: morisite_favorite_id_favorite_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.morisite_favorite_id_favorite_seq', 1, false);


--
-- Name: morisite_like_id_like_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.morisite_like_id_like_seq', 1, false);


--
-- Name: morisite_notification_id_notification_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.morisite_notification_id_notification_seq', 2, true);


--
-- Name: morisite_photo_id_photo_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.morisite_photo_id_photo_seq', 51, true);


--
-- Name: morisite_search_history_id_search_history_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.morisite_search_history_id_search_history_seq', 1, true);


--
-- Name: morisite_trash_id_trash_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.morisite_trash_id_trash_seq', 1, false);


--
-- Name: morisite_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.morisite_user_groups_id_seq', 1, false);


--
-- Name: morisite_user_id_user_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.morisite_user_id_user_seq', 5, true);


--
-- Name: morisite_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.morisite_user_user_permissions_id_seq', 1, false);


--
-- Name: socialaccount_socialaccount_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.socialaccount_socialaccount_id_seq', 1, false);


--
-- Name: socialaccount_socialapp_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.socialaccount_socialapp_id_seq', 1, false);


--
-- Name: socialaccount_socialapp_sites_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.socialaccount_socialapp_sites_id_seq', 1, false);


--
-- Name: socialaccount_socialtoken_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.socialaccount_socialtoken_id_seq', 1, false);


--
-- Name: account_emailaddress account_emailaddress_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.account_emailaddress
    ADD CONSTRAINT account_emailaddress_pkey PRIMARY KEY (id);


--
-- Name: account_emailaddress account_emailaddress_user_id_email_987c8728_uniq; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.account_emailaddress
    ADD CONSTRAINT account_emailaddress_user_id_email_987c8728_uniq UNIQUE (user_id, email);


--
-- Name: account_emailconfirmation account_emailconfirmation_key_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.account_emailconfirmation
    ADD CONSTRAINT account_emailconfirmation_key_key UNIQUE (key);


--
-- Name: account_emailconfirmation account_emailconfirmation_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.account_emailconfirmation
    ADD CONSTRAINT account_emailconfirmation_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: django_site django_site_domain_a2e37b91_uniq; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.django_site
    ADD CONSTRAINT django_site_domain_a2e37b91_uniq UNIQUE (domain);


--
-- Name: django_site django_site_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.django_site
    ADD CONSTRAINT django_site_pkey PRIMARY KEY (id);


--
-- Name: knox_authtoken knox_authtoken_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.knox_authtoken
    ADD CONSTRAINT knox_authtoken_pkey PRIMARY KEY (digest);


--
-- Name: morisite_album morisite_album_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.morisite_album
    ADD CONSTRAINT morisite_album_pkey PRIMARY KEY (id_album);


--
-- Name: morisite_avatar morisite_avatar_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.morisite_avatar
    ADD CONSTRAINT morisite_avatar_pkey PRIMARY KEY (id_avatar);


--
-- Name: morisite_avatar morisite_avatar_user_id_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.morisite_avatar
    ADD CONSTRAINT morisite_avatar_user_id_key UNIQUE (user_id);


--
-- Name: morisite_comment morisite_comment_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.morisite_comment
    ADD CONSTRAINT morisite_comment_pkey PRIMARY KEY (id_comment);


--
-- Name: morisite_favorite morisite_favorite_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.morisite_favorite
    ADD CONSTRAINT morisite_favorite_pkey PRIMARY KEY (id_favorite);


--
-- Name: morisite_like morisite_like_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.morisite_like
    ADD CONSTRAINT morisite_like_pkey PRIMARY KEY (id_like);


--
-- Name: morisite_notification morisite_notification_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.morisite_notification
    ADD CONSTRAINT morisite_notification_pkey PRIMARY KEY (id_notification);


--
-- Name: morisite_photo morisite_photo_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.morisite_photo
    ADD CONSTRAINT morisite_photo_pkey PRIMARY KEY (id_photo);


--
-- Name: morisite_search_history morisite_search_history_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.morisite_search_history
    ADD CONSTRAINT morisite_search_history_pkey PRIMARY KEY (id_search_history);


--
-- Name: morisite_trash morisite_trash_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.morisite_trash
    ADD CONSTRAINT morisite_trash_pkey PRIMARY KEY (id_trash);


--
-- Name: morisite_user morisite_user_email_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.morisite_user
    ADD CONSTRAINT morisite_user_email_key UNIQUE (email);


--
-- Name: morisite_user_groups morisite_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.morisite_user_groups
    ADD CONSTRAINT morisite_user_groups_pkey PRIMARY KEY (id);


--
-- Name: morisite_user_groups morisite_user_groups_user_id_group_id_75c08144_uniq; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.morisite_user_groups
    ADD CONSTRAINT morisite_user_groups_user_id_group_id_75c08144_uniq UNIQUE (user_id, group_id);


--
-- Name: morisite_user morisite_user_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.morisite_user
    ADD CONSTRAINT morisite_user_pkey PRIMARY KEY (id_user);


--
-- Name: morisite_user_user_permissions morisite_user_user_permi_user_id_permission_id_b9603337_uniq; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.morisite_user_user_permissions
    ADD CONSTRAINT morisite_user_user_permi_user_id_permission_id_b9603337_uniq UNIQUE (user_id, permission_id);


--
-- Name: morisite_user_user_permissions morisite_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.morisite_user_user_permissions
    ADD CONSTRAINT morisite_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: socialaccount_socialaccount socialaccount_socialaccount_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.socialaccount_socialaccount
    ADD CONSTRAINT socialaccount_socialaccount_pkey PRIMARY KEY (id);


--
-- Name: socialaccount_socialaccount socialaccount_socialaccount_provider_uid_fc810c6e_uniq; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.socialaccount_socialaccount
    ADD CONSTRAINT socialaccount_socialaccount_provider_uid_fc810c6e_uniq UNIQUE (provider, uid);


--
-- Name: socialaccount_socialapp_sites socialaccount_socialapp__socialapp_id_site_id_71a9a768_uniq; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.socialaccount_socialapp_sites
    ADD CONSTRAINT socialaccount_socialapp__socialapp_id_site_id_71a9a768_uniq UNIQUE (socialapp_id, site_id);


--
-- Name: socialaccount_socialapp socialaccount_socialapp_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.socialaccount_socialapp
    ADD CONSTRAINT socialaccount_socialapp_pkey PRIMARY KEY (id);


--
-- Name: socialaccount_socialapp_sites socialaccount_socialapp_sites_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.socialaccount_socialapp_sites
    ADD CONSTRAINT socialaccount_socialapp_sites_pkey PRIMARY KEY (id);


--
-- Name: socialaccount_socialtoken socialaccount_socialtoken_app_id_account_id_fca4e0ac_uniq; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.socialaccount_socialtoken
    ADD CONSTRAINT socialaccount_socialtoken_app_id_account_id_fca4e0ac_uniq UNIQUE (app_id, account_id);


--
-- Name: socialaccount_socialtoken socialaccount_socialtoken_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.socialaccount_socialtoken
    ADD CONSTRAINT socialaccount_socialtoken_pkey PRIMARY KEY (id);


--
-- Name: account_emailaddress_email_03be32b2; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX account_emailaddress_email_03be32b2 ON public.account_emailaddress USING btree (email);


--
-- Name: account_emailaddress_email_03be32b2_like; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX account_emailaddress_email_03be32b2_like ON public.account_emailaddress USING btree (email varchar_pattern_ops);


--
-- Name: account_emailaddress_user_id_2c513194; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX account_emailaddress_user_id_2c513194 ON public.account_emailaddress USING btree (user_id);


--
-- Name: account_emailconfirmation_email_address_id_5b7f8c58; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX account_emailconfirmation_email_address_id_5b7f8c58 ON public.account_emailconfirmation USING btree (email_address_id);


--
-- Name: account_emailconfirmation_key_f43612bd_like; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX account_emailconfirmation_key_f43612bd_like ON public.account_emailconfirmation USING btree (key varchar_pattern_ops);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: django_site_domain_a2e37b91_like; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX django_site_domain_a2e37b91_like ON public.django_site USING btree (domain varchar_pattern_ops);


--
-- Name: knox_authtoken_digest_188c7e77_like; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX knox_authtoken_digest_188c7e77_like ON public.knox_authtoken USING btree (digest varchar_pattern_ops);


--
-- Name: knox_authtoken_token_key_8f4f7d47; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX knox_authtoken_token_key_8f4f7d47 ON public.knox_authtoken USING btree (token_key);


--
-- Name: knox_authtoken_token_key_8f4f7d47_like; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX knox_authtoken_token_key_8f4f7d47_like ON public.knox_authtoken USING btree (token_key varchar_pattern_ops);


--
-- Name: knox_authtoken_user_id_e5a5d899; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX knox_authtoken_user_id_e5a5d899 ON public.knox_authtoken USING btree (user_id);


--
-- Name: morisite_album_user_id_c34dc145; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX morisite_album_user_id_c34dc145 ON public.morisite_album USING btree (user_id);


--
-- Name: morisite_comment_parent_comment_id_b3bdff74; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX morisite_comment_parent_comment_id_b3bdff74 ON public.morisite_comment USING btree (parent_comment_id);


--
-- Name: morisite_comment_photo_id_8cfadeea; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX morisite_comment_photo_id_8cfadeea ON public.morisite_comment USING btree (photo_id);


--
-- Name: morisite_comment_user_id_20880cab; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX morisite_comment_user_id_20880cab ON public.morisite_comment USING btree (user_id);


--
-- Name: morisite_favorite_photo_id_8bf55378; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX morisite_favorite_photo_id_8bf55378 ON public.morisite_favorite USING btree (photo_id);


--
-- Name: morisite_like_photo_id_95befee0; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX morisite_like_photo_id_95befee0 ON public.morisite_like USING btree (photo_id);


--
-- Name: morisite_like_user_id_717239c3; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX morisite_like_user_id_717239c3 ON public.morisite_like USING btree (user_id);


--
-- Name: morisite_notification_comment_id_5dab62ba; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX morisite_notification_comment_id_5dab62ba ON public.morisite_notification USING btree (comment_id);


--
-- Name: morisite_notification_photo_id_cfde97ff; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX morisite_notification_photo_id_cfde97ff ON public.morisite_notification USING btree (photo_id);


--
-- Name: morisite_notification_recipient_id_126e153a; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX morisite_notification_recipient_id_126e153a ON public.morisite_notification USING btree (recipient_id);


--
-- Name: morisite_notification_sender_id_016fda30; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX morisite_notification_sender_id_016fda30 ON public.morisite_notification USING btree (sender_id);


--
-- Name: morisite_photo_album_id_f23e2713; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX morisite_photo_album_id_f23e2713 ON public.morisite_photo USING btree (album_id);


--
-- Name: morisite_search_history_user_id_99a5cb0d; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX morisite_search_history_user_id_99a5cb0d ON public.morisite_search_history USING btree (user_id);


--
-- Name: morisite_trash_photo_id_c764868e; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX morisite_trash_photo_id_c764868e ON public.morisite_trash USING btree (photo_id);


--
-- Name: morisite_trash_user_id_7e6a7dac; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX morisite_trash_user_id_7e6a7dac ON public.morisite_trash USING btree (user_id);


--
-- Name: morisite_user_email_4eb40559_like; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX morisite_user_email_4eb40559_like ON public.morisite_user USING btree (email varchar_pattern_ops);


--
-- Name: morisite_user_groups_group_id_847606b0; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX morisite_user_groups_group_id_847606b0 ON public.morisite_user_groups USING btree (group_id);


--
-- Name: morisite_user_groups_user_id_ec514cfd; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX morisite_user_groups_user_id_ec514cfd ON public.morisite_user_groups USING btree (user_id);


--
-- Name: morisite_user_user_permissions_permission_id_85fabb28; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX morisite_user_user_permissions_permission_id_85fabb28 ON public.morisite_user_user_permissions USING btree (permission_id);


--
-- Name: morisite_user_user_permissions_user_id_fce9ba58; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX morisite_user_user_permissions_user_id_fce9ba58 ON public.morisite_user_user_permissions USING btree (user_id);


--
-- Name: socialaccount_socialaccount_user_id_8146e70c; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX socialaccount_socialaccount_user_id_8146e70c ON public.socialaccount_socialaccount USING btree (user_id);


--
-- Name: socialaccount_socialapp_sites_site_id_2579dee5; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX socialaccount_socialapp_sites_site_id_2579dee5 ON public.socialaccount_socialapp_sites USING btree (site_id);


--
-- Name: socialaccount_socialapp_sites_socialapp_id_97fb6e7d; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX socialaccount_socialapp_sites_socialapp_id_97fb6e7d ON public.socialaccount_socialapp_sites USING btree (socialapp_id);


--
-- Name: socialaccount_socialtoken_account_id_951f210e; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX socialaccount_socialtoken_account_id_951f210e ON public.socialaccount_socialtoken USING btree (account_id);


--
-- Name: socialaccount_socialtoken_app_id_636a42d7; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX socialaccount_socialtoken_app_id_636a42d7 ON public.socialaccount_socialtoken USING btree (app_id);


--
-- Name: unique_primary_email; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX unique_primary_email ON public.account_emailaddress USING btree (user_id, "primary") WHERE "primary";


--
-- Name: unique_verified_email; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX unique_verified_email ON public.account_emailaddress USING btree (email) WHERE verified;


--
-- Name: account_emailaddress account_emailaddress_user_id_2c513194_fk_morisite_user_id_user; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.account_emailaddress
    ADD CONSTRAINT account_emailaddress_user_id_2c513194_fk_morisite_user_id_user FOREIGN KEY (user_id) REFERENCES public.morisite_user(id_user) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: account_emailconfirmation account_emailconfirm_email_address_id_5b7f8c58_fk_account_e; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.account_emailconfirmation
    ADD CONSTRAINT account_emailconfirm_email_address_id_5b7f8c58_fk_account_e FOREIGN KEY (email_address_id) REFERENCES public.account_emailaddress(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_morisite_user_id_user; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_morisite_user_id_user FOREIGN KEY (user_id) REFERENCES public.morisite_user(id_user) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: knox_authtoken knox_authtoken_user_id_e5a5d899_fk_morisite_user_id_user; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.knox_authtoken
    ADD CONSTRAINT knox_authtoken_user_id_e5a5d899_fk_morisite_user_id_user FOREIGN KEY (user_id) REFERENCES public.morisite_user(id_user) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: morisite_album morisite_album_user_id_c34dc145_fk_morisite_user_id_user; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.morisite_album
    ADD CONSTRAINT morisite_album_user_id_c34dc145_fk_morisite_user_id_user FOREIGN KEY (user_id) REFERENCES public.morisite_user(id_user) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: morisite_avatar morisite_avatar_user_id_4d2e2a21_fk_morisite_user_id_user; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.morisite_avatar
    ADD CONSTRAINT morisite_avatar_user_id_4d2e2a21_fk_morisite_user_id_user FOREIGN KEY (user_id) REFERENCES public.morisite_user(id_user) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: morisite_comment morisite_comment_parent_comment_id_b3bdff74_fk_morisite_; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.morisite_comment
    ADD CONSTRAINT morisite_comment_parent_comment_id_b3bdff74_fk_morisite_ FOREIGN KEY (parent_comment_id) REFERENCES public.morisite_comment(id_comment) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: morisite_comment morisite_comment_photo_id_8cfadeea_fk_morisite_photo_id_photo; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.morisite_comment
    ADD CONSTRAINT morisite_comment_photo_id_8cfadeea_fk_morisite_photo_id_photo FOREIGN KEY (photo_id) REFERENCES public.morisite_photo(id_photo) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: morisite_comment morisite_comment_user_id_20880cab_fk_morisite_user_id_user; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.morisite_comment
    ADD CONSTRAINT morisite_comment_user_id_20880cab_fk_morisite_user_id_user FOREIGN KEY (user_id) REFERENCES public.morisite_user(id_user) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: morisite_favorite morisite_favorite_photo_id_8bf55378_fk_morisite_photo_id_photo; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.morisite_favorite
    ADD CONSTRAINT morisite_favorite_photo_id_8bf55378_fk_morisite_photo_id_photo FOREIGN KEY (photo_id) REFERENCES public.morisite_photo(id_photo) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: morisite_like morisite_like_photo_id_95befee0_fk_morisite_photo_id_photo; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.morisite_like
    ADD CONSTRAINT morisite_like_photo_id_95befee0_fk_morisite_photo_id_photo FOREIGN KEY (photo_id) REFERENCES public.morisite_photo(id_photo) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: morisite_like morisite_like_user_id_717239c3_fk_morisite_user_id_user; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.morisite_like
    ADD CONSTRAINT morisite_like_user_id_717239c3_fk_morisite_user_id_user FOREIGN KEY (user_id) REFERENCES public.morisite_user(id_user) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: morisite_notification morisite_notificatio_comment_id_5dab62ba_fk_morisite_; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.morisite_notification
    ADD CONSTRAINT morisite_notificatio_comment_id_5dab62ba_fk_morisite_ FOREIGN KEY (comment_id) REFERENCES public.morisite_comment(id_comment) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: morisite_notification morisite_notificatio_photo_id_cfde97ff_fk_morisite_; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.morisite_notification
    ADD CONSTRAINT morisite_notificatio_photo_id_cfde97ff_fk_morisite_ FOREIGN KEY (photo_id) REFERENCES public.morisite_photo(id_photo) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: morisite_notification morisite_notificatio_recipient_id_126e153a_fk_morisite_; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.morisite_notification
    ADD CONSTRAINT morisite_notificatio_recipient_id_126e153a_fk_morisite_ FOREIGN KEY (recipient_id) REFERENCES public.morisite_user(id_user) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: morisite_notification morisite_notificatio_sender_id_016fda30_fk_morisite_; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.morisite_notification
    ADD CONSTRAINT morisite_notificatio_sender_id_016fda30_fk_morisite_ FOREIGN KEY (sender_id) REFERENCES public.morisite_user(id_user) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: morisite_photo morisite_photo_album_id_f23e2713_fk_morisite_album_id_album; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.morisite_photo
    ADD CONSTRAINT morisite_photo_album_id_f23e2713_fk_morisite_album_id_album FOREIGN KEY (album_id) REFERENCES public.morisite_album(id_album) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: morisite_search_history morisite_search_hist_user_id_99a5cb0d_fk_morisite_; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.morisite_search_history
    ADD CONSTRAINT morisite_search_hist_user_id_99a5cb0d_fk_morisite_ FOREIGN KEY (user_id) REFERENCES public.morisite_user(id_user) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: morisite_trash morisite_trash_photo_id_c764868e_fk_morisite_photo_id_photo; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.morisite_trash
    ADD CONSTRAINT morisite_trash_photo_id_c764868e_fk_morisite_photo_id_photo FOREIGN KEY (photo_id) REFERENCES public.morisite_photo(id_photo) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: morisite_trash morisite_trash_user_id_7e6a7dac_fk_morisite_user_id_user; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.morisite_trash
    ADD CONSTRAINT morisite_trash_user_id_7e6a7dac_fk_morisite_user_id_user FOREIGN KEY (user_id) REFERENCES public.morisite_user(id_user) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: morisite_user_groups morisite_user_groups_group_id_847606b0_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.morisite_user_groups
    ADD CONSTRAINT morisite_user_groups_group_id_847606b0_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: morisite_user_groups morisite_user_groups_user_id_ec514cfd_fk_morisite_user_id_user; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.morisite_user_groups
    ADD CONSTRAINT morisite_user_groups_user_id_ec514cfd_fk_morisite_user_id_user FOREIGN KEY (user_id) REFERENCES public.morisite_user(id_user) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: morisite_user_user_permissions morisite_user_user_p_permission_id_85fabb28_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.morisite_user_user_permissions
    ADD CONSTRAINT morisite_user_user_p_permission_id_85fabb28_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: morisite_user_user_permissions morisite_user_user_p_user_id_fce9ba58_fk_morisite_; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.morisite_user_user_permissions
    ADD CONSTRAINT morisite_user_user_p_user_id_fce9ba58_fk_morisite_ FOREIGN KEY (user_id) REFERENCES public.morisite_user(id_user) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: socialaccount_socialtoken socialaccount_social_account_id_951f210e_fk_socialacc; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.socialaccount_socialtoken
    ADD CONSTRAINT socialaccount_social_account_id_951f210e_fk_socialacc FOREIGN KEY (account_id) REFERENCES public.socialaccount_socialaccount(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: socialaccount_socialtoken socialaccount_social_app_id_636a42d7_fk_socialacc; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.socialaccount_socialtoken
    ADD CONSTRAINT socialaccount_social_app_id_636a42d7_fk_socialacc FOREIGN KEY (app_id) REFERENCES public.socialaccount_socialapp(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: socialaccount_socialapp_sites socialaccount_social_site_id_2579dee5_fk_django_si; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.socialaccount_socialapp_sites
    ADD CONSTRAINT socialaccount_social_site_id_2579dee5_fk_django_si FOREIGN KEY (site_id) REFERENCES public.django_site(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: socialaccount_socialapp_sites socialaccount_social_socialapp_id_97fb6e7d_fk_socialacc; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.socialaccount_socialapp_sites
    ADD CONSTRAINT socialaccount_social_socialapp_id_97fb6e7d_fk_socialacc FOREIGN KEY (socialapp_id) REFERENCES public.socialaccount_socialapp(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: socialaccount_socialaccount socialaccount_social_user_id_8146e70c_fk_morisite_; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.socialaccount_socialaccount
    ADD CONSTRAINT socialaccount_social_user_id_8146e70c_fk_morisite_ FOREIGN KEY (user_id) REFERENCES public.morisite_user(id_user) DEFERRABLE INITIALLY DEFERRED;